/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@use "sass:color";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

// matplotlib standard colors, dark stylesheet
$C0: #8dd3c7;
$C1: #feffb3;
$C2: #bfbbd9;
$C3: #fa8174;
$C4: #81b1d2;
$C5: #fdb462;
$C6: #b3de69;
$C7: #bc82bd;
$C8: #ccebc4;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingFontWeight: 600;
$linkColor: $C0;
$linkColorHover: color.scale( $linkColor, $lightness: 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

:root {
	--r-bold-color: #{$C3};
    --C0: #{$C0};
    --C1: #{$C1};
    --C2: #{$C2};
    --C3: #{$C3};
    --C4: #{$C4};
    --C5: #{$C5};
    --C6: #{$C6};
    --C7: #{$C7};
    --C8: #{$C8};
}

.reveal {
	strong, b {
		color: var(--r-bold-color);
	}
}

.reveal .slide-number {
    font-size: 1em;
	color: var(--C0);
	right: auto;
	width: 1.5em;
	height: 1.5em;
	background-color: #191919;
	display: grid !important;
	place-items: center;
}
